<!-- h4><a class="text-success"
   href="#/edit-job/{{jobId}}">
    <i class="icon-wrench"></i> Job Detail</a></h4>
<hr class="">
<h4><a class=""
   href="#/view-quote/{{quoteId}}/">
    <i class="icon-money"></i> Quote</a></h4 -->

<a class="btn btn-success quote-actions"
   ng-repeat="item in quoteActions"
   href="{{item.href}}/{{workIdx}}"
   ng-class="{selectedAction: item.text == actionLabel}" ng-show="$index > 1">
    <i class="{{item.icon}}"></i> <span style=""> {{item.text}}</span>
</a>

<!-- div ng-show="contractActions.length > 0">
    <hr class="">
    <h4><a class="text-info"
       href="#/edit-contract/{{quoteId}}">
        <i class="icon-legal"></i> Contract</a></h4>
    <a class="btn btn-info quote-actions" ng-repeat="item in contractActions"
       href="{{item.href}}"
       ng-class="{selectedAction: item.text == actionLabel}">
        <i class="{{item.icon}}"></i> <span style=""> {{item.text}}</span>
    </a>

    <a class="btn btn-warning quote-actions"
       ng-click="printQuote()">
        <i class="icon-print"></i> Print Contract</a>
</div  -->
