<div ng-include src="'features/quotes/quote-header.html'"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <!-- div class="span3">
            <div ng-include src="'partials/quote-menu.html'"></div>
            <div ng-include src="'partials/quote-works.html'"></div>
        </div -->
        <div class="span12">
            <h3 class="span11">Works to include</h3>
            <form class="well form-inline span12 custom-form">
                <div class="control-group ">
                    <button class="btn btn-primary" ng-click="save()">Save Quote</button>
                    
                    <button class="btn btn-primary" ng-click="add()">
                        <i class="icon-plus"></i>Add New Work</button>
                </div>

                
                <ul class="works icon-container">
                    <li class="span11" style="margin-left: 0px;">
                        <span class="span1">#</span>
                        <span class="span3" style="margin-left: 0px;">Title</span>

                    </li>
                    <li class="span11 highlight" style="margin-left: 0px;"  ng-repeat="w in editing.works | orderBy:predicate:rowNumber" st-fade="$index">
                        <span class="span1">{{w.rowNumber}}</span>
                        <input type="text" name="title"
                               ng-model="w.title" class="span7 "
                               id="work_{{$index}}"
                               capitalize-first>

                        <span ng-include src="'partials/items-actions.html'"></span>

                        <!-- span  class=" text-info">
                            {{w.finalPrice | currency | nodecimal}}

                        </span -->
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

