<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="span3 job-header">
                <p><i class="icon-user"></i> {{quote.client}}
                    {{quote.address}}</p>
                <span>Client</span>
            </div>
            <div class="span1 job-header">
                <p>{{quote.createdLong | date:'dd/MM/yyyy'}}
                </p>
                <span>Created</span>
            </div>
            <div class="span1 job-header">
                <p class="font-smaller">{{quote.status}}</p>
                <span>Status</span>
            </div>
            <div class="span1 job-header">
                <p>{{quote.version}}</p>
                <span>Revision</span>
            </div>
            <div class="span3 job-header">
                <p>{{quote.updated | date:'dd/MM HH:mm'}}
                    <i ng-show="editingChanged" class="icon-warning-sign"></i>
                </p>
                <span>Last Saved</span>
            </div>

            <div class="quote-summary">
                <ul class="">
                    <li class="text-info">{{quote.budget | noFractionCurrency}}
                        <span>Budget</span>
                    </li>
                    <li class="text-info">{{quote.works.length}}
                        <span>Works</span>
                    </li>
                    <li class="text-info">{{quote.totalPrice | noFractionCurrency}}
                        <span>Total Price</span>
                    </li>
                    <li  class="text-info">{{quote.finalPrice | noFractionCurrency}}
                        <span>Final Price</span>
                    </li>
                </ul>

            </div>

            <hr>

        </div>

    </div>
</div>




