<div class="container">
    <div class="row top25">
        <h3>Plant Shedule</h3>
        <span class="span11">{{created | date:'dd/MM/yyyy'}}</span>
        <h3 class="span11">{{plants.length}} Plants</h3>
        <div class="span10 ">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th>Botanical Name</th>
                        <th>Common Name</th>
                        <th class="text-right">Pot Size</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Unit Price</th>
                        <th class="text-right">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in plants| orderBy:'botanicalName'">
                        <td>{{item.botanicalName}}</td>
                        <td>{{item.item}}</td>
                        <td class="text-right">{{item.potSize}}</td>
                        <td class="text-right">{{item.quantity}}</td>
                        <td class="text-right">{{item.retail | currency}}</td>
                        <td class="text-right font12">{{item.retailTotal | noFractionCurrency}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right font15">{{plantTotal.retail | noFractionCurrency}}</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>
