                <h4>Your Business Profile</h4>
                <label>Your Name</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your name."
                       ng-model="business.owner" init-focus
                       capitalize-first>
                <label>Business</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your business name."
                       ng-model="business.business"
                       capitalize-first>
                <label>Email</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your email."
                       ng-model="business.email">
                <label>Phone</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your phone."
                       ng-model="business.tel">
                <label>Address 1</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your address."
                       ng-model="business.address1"
                       capitalize-first>
                <label>Address 2</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your address."
                       ng-model="business.address2"
                       capitalize-first>
                <label>ABN</label>
                <input type="text"
                       class="span12"
                       placeholder="Enter your ABN."
                       ng-model="business.abn">


